<header>
    <section class="quick-lookup">
        <span>{{phoneNumber.label}}</span>
        <span class="divider"> | </span>
        <span>{{address.label}}</span>
    </section>
    <h1>{{name.label}}</h1>
</header>
