<a name="highlights"></a>
<div class="container">
    <div class="highlights">

        <div class="quick-lookup">
            <span>{{phoneNumber.label}}</span>
            <span>{{address.label}} </span>
            <span><a href="http://maps.google.com/?q={{encodeURI address.label}}">MAP</a></span>
        </div>

        <div class="image-panel">
            <div class="image dsc00654"></div>
            <div class="image dsc00656"></div>
            <div class="image dsc00657"></div>
            <div class="image dsc00658"></div>
            <div class="image dsc00659"></div>
            <div class="image dsc00660"></div>
        </div>
    </div>
</div>
