<a name="highlights"></a>
<div class="container highlights">
    <div class="image dsc00654"></div>
    <div class="image dsc00656"></div>
    <div class="image dsc00657"></div>
    <div class="image dsc00658"></div>
    <div class="image dsc00659"></div>
    <div class="image dsc00660"></div>
</div>