footer, .footer
  clear both
  padding-bottom 1rem
  background clr5
  padding-top 0.5rem
  @media screen and (max-width mobile-width)
    .sitemap
      margin-bottom 0
    .divider
      display none
    li
      display block

  @media screen and (min-width mobile-width)
    .sitemap
      margin-bottom 0
      display table
      margin-left auto
      margin-right auto
    .divider, li
      display inline
