header, .header
  min-width minimum-width
  background clr2
  margin 0
  padding 0
  top 0
  width 100%
  position fixed
  overflow hidden
  z-index 100
  a
    text-decoration underline
  @media screen and (max-width tablet-width)
    height mobile-header-height
    h1
      line-height 1.5rem
      min-width minimum-width
      font-size 3.4rem
      margin 1rem
      margin-bottom 1.8rem
      margin-top 1.8rem
      padding 0rem
    .quick-links
      position relative
      float right
      margin-left 3rem
      a
        cursor pointer
        font-weight: bold;
        padding-bottom 0rem
        padding-right 1rem
        padding-left 1rem
        display inline-block
        font-family UpperEastSide, arial, sans-serif
        font-size 3.0rem



  @media screen and (min-width tablet-width) and (max-width desktop-width)
    height tablet-header-height
    h1
      line-height 1.5rem
      font-size 4rem
      margin 1rem
      margin-bottom 1.8rem
      margin-top 2rem
      padding 0rem
    .quick-links
      position relative
      float right
      margin-left 3rem
      a
        cursor pointer
        font-weight: bold;
        padding-bottom 0rem
        padding-right 1rem
        padding-left 1rem
        display inline-block
        font-family UpperEastSide, arial, sans-serif
        font-size 3.0rem

  @media screen and (min-width desktop-width)
    height desktop-header-height
    line-height 5.0rem
    h1
      font-size 5.8rem
      margin 1rem
      margin-top 2rem
      padding 0rem
    .quick-links
      position relative
      float right
      top -50px
      margin-left 3rem
      a
        cursor pointer
        font-weight: bold;
        padding-bottom 0rem
        padding-right 1rem
        padding-left 1rem
        display inline-block
        font-family UpperEastSide, arial, sans-serif
        font-size 3.0rem