  
  .dsc00654
    @media screen and (max-width tablet-width)
      image '../img/dsc00654.webp' mobile-third-width mobile-third-height
    @media screen and (min-width tablet-width) and (max-width desktop-width)
      image '../img/dsc00654.webp' tablet-third-width tablet-third-height
    @media screen and (min-width desktop-width)
      image '../img/dsc00654.webp' desktop-third-width desktop-third-height
      
  .dsc00656
    @media screen and (max-width tablet-width)
      image '../img/dsc00656.webp' mobile-third-width mobile-third-height
    @media screen and (min-width tablet-width) and (max-width desktop-width)
      image '../img/dsc00656.webp' tablet-third-width tablet-third-height
    @media screen and (min-width desktop-width)
      image '../img/dsc00656.webp' desktop-third-width desktop-third-height
      
  .dsc00657
    @media screen and (max-width tablet-width)
      image '../img/dsc00657.webp' mobile-third-width mobile-third-height
    @media screen and (min-width tablet-width) and (max-width desktop-width)
      image '../img/dsc00657.webp' tablet-third-width tablet-third-height
    @media screen and (min-width desktop-width)
      image '../img/dsc00657.webp' desktop-third-width desktop-third-height  
      
  .dsc00658
    @media screen and (max-width tablet-width)
      image '../img/dsc00658.webp' mobile-third-width mobile-third-height
    @media screen and (min-width tablet-width) and (max-width desktop-width)
      image '../img/dsc00658.webp' tablet-third-width tablet-third-height
    @media screen and (min-width desktop-width)
      image '../img/dsc00658.webp' desktop-third-width desktop-third-height
      
  .dsc00659
    @media screen and (max-width tablet-width)
      image '../img/dsc00659.webp' mobile-third-width mobile-third-height
    @media screen and (min-width tablet-width) and (max-width desktop-width)
      image '../img/dsc00659.webp' tablet-third-width tablet-third-height
    @media screen and (min-width desktop-width)
      image '../img/dsc00659.webp' desktop-third-width desktop-third-height
      
  .dsc00660
    @media screen and (max-width tablet-width)
      image '../img/dsc00660.webp' mobile-third-width mobile-third-height
    @media screen and (min-width tablet-width) and (max-width desktop-width)
      image '../img/dsc00660.webp' tablet-third-width tablet-third-height
    @media screen and (min-width desktop-width)
      image '../img/dsc00660.webp' desktop-third-width desktop-third-height
