.dsc00654
  image '../img/dsc00654.webp' desktop-third-width desktop-third-height
.dsc00656
  image '../img/dsc00656.webp' desktop-third-width desktop-third-height
.dsc00657
  image '../img/dsc00657.webp' desktop-third-width desktop-third-height
.dsc00658
  image '../img/dsc00658.webp' desktop-third-width desktop-third-height
.dsc00659
  image '../img/dsc00659.webp' desktop-third-width desktop-third-height
.dsc00660
  image '../img/dsc00660.webp' desktop-third-width desktop-third-height