.menu-container
  border-radius 10px
  background clr5
  margin-right auto
  margin-left auto
  margin-top 1rem
  margin-bottom 1rem
  padding 1rem

.menu
  .price
    padding-right 1rem
    padding-left 1rem
  .small:before
    content " Small "
    display inline
    font-style italic
  .large:before
    content " Large "
    display inline
    font-style italic
  .each-group
    height 1rem