@import 'nib'

clr = #897969
clr2 = #9A3324
clr3 = #f9fbb8
clr4 = #CBCE66
clr5 = #E1E3A6
clr6 = #bd3030
clr7 = #a3414133
clr8 = #c8cf00
mobile-header-height = 135px
tablet-header-height = 140px
desktop-header-height = 150px

desktop-width = 1100px
tablet-width = 800px
mobile-width = 500px
minimum-width = 500px

.cutout
  position static
  margin-top 2rem
  width 100%
  box-shadow: 2px 2px 2px #222;
  background-color clr2
  padding-bottom 0
  margin-bottom 0
  margin-right 0
  margin-left 0

@font-face {
  font-family UpperEastSide
  src url(../font/UpperEastSide.ttf)
}

h1, h2, h3, h4, h5, h6
  clear both

h1
  font-family UpperEastSide, arial, sans-serif
  font-size 4rem
  padding-left 4rem

h2
  text-decoration underline
  font-family UpperEastSide, arial, sans-serif
  font-size 3rem
  left 0
  padding-bottom 0
  margin-top 0
  margin-bottom 0
  padding-top 0
  padding-left 1rem

body
  background clr4
  margin 0
  padding 0
  font-size 1.2rem

ul
  list-style-type none

li
  padding-top 1rem

a
  color black
  text-decoration none

a[name]
  display block
  position relative
  @media screen and (max-width tablet-width)
    top (-(mobile-header-height))

  @media screen and (min-width tablet-width) and (max-width desktop-width)
    top (-(tablet-header-height))

  @media screen and (min-width desktop-width)
    top (-(desktop-header-height))

  visibility hidden

table
  width 100%
  td.price
    text-align right

img {
  max-width 100%
  height auto !important
}

.divider
  padding-right 0.7rem
  padding-left 0.7rem

.container
  margin-right auto
  margin-left auto
  padding 0
  box-sizing border-box
  @media screen and (max-width tablet-width)
    width mobile-width
  @media screen and (min-width tablet-width) and (max-width desktop-width)
    width tablet-width
  @media screen and (min-width desktop-width)
    width desktop-width

.pull-right
  float right

.clear
  clearfix()



desktop-third-width = floor(desktop-width/3 - 14rem)
desktop-third-height = floor(desktop-width/3*2/3 - 14rem)
tablet-third-width = floor(tablet-width/3 - 14rem)
tablet-third-height = floor(tablet-width/3*2/3 - 14rem)
mobile-third-width = floor(mobile-width/3 - 14rem)
mobile-third-height = floor(mobile-width/3*2/3 - 14rem)

@require 'images'
@require 'header'
@require 'highlights'
@require 'menu'
@require 'footer'

