h1, h2, h3, h4, h5, h6
  clear both

body
  background brown

ul
  list-style-type none

li
  padding-top 1rem

.divider
  padding-right 0.7rem
  padding-left 0.7rem

h1
  font-size 4rem

h2
  margin-top 2rem

header
  background brown
  top 0
  width 100%
  position fixed
  .quick-lookup //taken right out
    position absolute
    padding-top 0.5rem
    padding-right 1rem
    padding-left 1rem
    padding-bottom 0.5rem
    top 0
    right 0
    background white

.highlights
  margin-top 12rem

.menu
  max-width 800px
  .price
    float right
    padding-right 1rem
    padding-left 1rem
  .small:before
    content " Small "
    display inline
    font-style italic

  .large:before
    content " Large "
    display inline
    font-style italic


.sitemap
  a
    color black
    text-decoration none
