<!DOCTYPE html>
<html lang="{{lang}}" manifest="app.manifest">
<head>
    <meta charset="UTF-8" />
    <title>{{name.label}}</title>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/templates.js"></script>
    <link rel="stylesheet" href="css/style-guide.css" />
</head>
<body>
    {{> header}}
    <div class="container">
        {{> highlights}}
        {{> menu}}
    </div>
    {{> footer}}
</body>
</html>

